[submodule "dots/.config/quickshell/ii/modules/common/widgets/shapes"]
	path = dots/.config/quickshell/ii/modules/common/widgets/shapes
	url = https://github.com/end-4/rounded-polygon-qmljs.git
[submodule "dots/.config/quickshell/flow/modules/common/widgets/shapes"]
	path = dots/.config/quickshell/flow/modules/common/widgets/shapes
	url = https://github.com/SrwR16/rounded-polygon-qmljs.git
